.grid-container {
    /* display: grid; */
    display: none;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#currentgameinfo {
    /* display: inline-block; */
    display: none;
    margin-top: 20px;
    background-color: lightslategrey;
}

#debuginfo {
    /* 'none' removes from view, ie takes zero space, vs visible with 'inline-block' */
    /* display: none;  */
    display: inline-block;
    visibility: visible; /* value hidden hides it, but still takes up actuall space of element */
    margin-top: 20px;
    background-color: lightslategrey;
}