.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#currentGameInfo {
    display: inline-block;
    visibility: visible;
    margin-top: 20px;
    background-color: lightslategrey;
}

#debuginfo {
    /* display: inline-block; */
    display: none; /* removes from view, ie takes zero space */
    visibility: visible; /* value hidden hides it, but still takes up actuall space of element */
    margin-top: 20px;
    background-color: lightslategrey;
}